<a href="https://colab.research.google.com/github/IarleyAndre/1-AULA-PROGRAMA-O/blob/main/phyton_pt%C2%A86.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Para usa biblioteca random,precisa importa la
import random
#criar uma lista com tamanho aleatorio entre (0 a 50)
numeros =[]
for numero in range(random.randrange(0,50)):
   numeros.append(numero)

numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [7]:
#tuplas nao mudam
#dicionarios são mutaves 

#criando listas 
nomes = ["ze ", " tinhao" , ' joaquim']
nomes.append('julia')
nomes

#Varios nomes 
outrosNomes = ["ana", ' maria' , "bia" , ' mario']
nomes.extend(outrosNomes)

nomes

['ze ', ' tinhao', ' joaquim', 'julia', 'ana', ' maria', 'bia', ' mario']

In [13]:
 # Remoção de elementos 
 #remove()_ Remove o primeiro elemento
 #pop()- remove o ultimo elemento

 #crie uma lista de numeros e
numeros = [2, 3, 4, 5, 5, 7, 8]
 #remova o  primeiro numero da lista
numeros.remove(numeros[0])
#remova o ultimo elemento da lista
numeros.pop()

numeros

[3, 4, 5, 5, 7]

In [18]:
#Ordenação de elementos
#lista.sort()- Ordena em ordem crescente
#lista . sort(reverse=True) - ordena em ordem decrescente


#1 - crie uma lista de notas, e exiba-a a menor para o maior
notas = [2 , 10 , 9 , 4 ]
nomes = ['Ademar','Maristênio', 'Asdrudal', 'Leo']
notas.sort()  
nomes.sort()
#2 - crie uma lista de4 nomes de frutas e ordene-a em

nomes

['Ademar', 'Asdrudal', 'Leo', 'Maristênio']

In [19]:
#Função map() serve para aplicar uma função a cada elemento de uma lista, dispensando o uso de um loop (for ou while)

#map(funcao, sequencia)
#Função filter() serve para filtrar elementos de uma sequência

#Exemplo funçao map
numeros = [2, 4, 6]
nova_lista = list(map(lambda x : x*2, numeros))
nova_lista

[4, 8, 12]

In [24]:
numeros = [ 9, 6, 7, 14]
nova_lista = list(map(lambda x : x/3, numeros))
nova_lista

[3.0, 2.0, 2.3333333333333335, 4.666666666666667]

In [29]:
#pega cada numero e somar 2
numeros =[20, 30, 42 , 52]
soma2 = list(map(lambda x : x+2, numeros))
soma2

[22, 32, 44, 54]

In [31]:
#Exemplo função filter

nomes = ['José', 'joão', 'Sebastião', 'Angelica', ' leonardo', 'asevedo']

new_list = list(filter(lambda x : len(x)>5 , nomes))
new_list

['Sebastião', 'Angelica', ' leonardo', 'asevedo']

In [38]:
# crie uma lista de notas que imprime as notas maiores que 6

numeros = [ 8, 1 , 2 , 10 , 9, 6]

new_list = list(filter(lambda x :(x)>6, numeros))
new_list

[8, 10, 9]

In [39]:
#1 Dada uma lista de números, retorne uma lista contendo o quadrado de cada número.

numeros = [ 8, 12 , 16 , 20]

nova_lista =list(map(lambda x: x**2, numeros))
nova_lista

[64, 144, 256, 400]

In [42]:
#2 Dada uma lista de nomes, retorne uma lista contendo o tamanho de cada nome.

nomes = ['kauan', 'joao' ,'iarley',' silva']

nova_lista =list(map(lambda x : len(x), nomes))
nova_lista

[5, 4, 6, 6]

In [43]:
#3Dada uma lista de números, retorne uma lista contendo apenas os números pares.

numeros = [ 10 , 3 , 6 ,2 , 20 , 7]

nova_lista = list(filter(lambda x: x%2 == 0, numeros))
nova_lista

[10, 6, 2, 20]

In [51]:
#4 Dada uma lista de nomes, retorne uma lista contendo apenas os nomes que começam com a letra "A".

nomes = [ 'Joaquim', 'carlos', 'pedro', 'ken', 'Adelbardo']

nova_lista = list(filter(lambda x : (x[0] == "A") , nomes))
nova_lista

['Adelbardo']

In [52]:
#5 Recebe uma lista com notas de alunos, retorna apenas os aprovados (nota maior ou igual a 7)

notas = [ 7, 10 , 6 ,5 , 9]

nova_lista = list(filter(lambda x : (x)>=7, notas ))
nova_lista

[7, 10, 9]

In [75]:
#6 Recebe uma lista de nomes, retorna apenas os que começam com vogal

nomes = ['Joaquim', 'Carlos', 'Pedro', 'Ken', 'Adelbardo' , "Erika"]

nova_lista = list(filter(lambda x : x[0] in "AEIOU" , nomes))
nova_lista

['Adelbardo', 'Erika']